body{
    font-family: 'Montserrat', sans-serif;
    color:white;
}

.viewCredito{
    background: linear-gradient(180deg, rgba(8,79,133,1) 53%, rgba(0,59,103,1) 95%);
    width:35rem;
    text-align: center;
    padding: 30px ;
}

h1{
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-weight:bold;
    font-size: 30px;
}
p{
    font-family: 'Montserrat', sans-serif;
    color:white;
}

.titleCredito{
    font-weight :700;
}
.baseCredito{
    background: #003B67;
    padding: 20px;
    margin: 20px;
}

.nameMontoTotal{
    display: flex;
    justify-content: space-between;
}
.cuotaFija{
    display: flex;
    justify-content: space-between;
    justify-content: stretch;
}
.cuotaFijaTotal{
    color: white;
    font-weight:bold;
    font-size: 30px;
    margin-right: auto;
    padding-top: 10px;
    width: 25%;
}

h3{
    margin-left:auto ;
    margin-right:auto ;
}

.monto{
    margin:30px;
    padding-bottom: 10px;
    align-items: center;
}

.montoContent{
    margin:0px auto;
    align-content: center;
}

input{
    background-color: #003B67;
    color: white;
    border: 1px solid white;
    box-sizing: border-box;
    width: 100px;
    height: 35px;
    text-align: center;
    font-weight:bold;
    font-size: 20px;
}

.slider{
    width: 90%;
    margin-left: 25px;
}
.btn-block {
    display: flex;
    justify-content: stretch;
}
.btn {
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    text-transform: uppercase;
}

.btn-primary{
    background: #70C895;
    font-size: medium;
    width: calc(65% - 10px);

}
.btn-secondary{
    background: #084F85;
    font-size: small;
    width: calc(35% - 10px);
    
}

.content{
    background: #01375e;
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    display: block;
}

.rangos{
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Montserrat', sans-serif
}